name: Sync branches

on:
  push:
    branches:
      - master

jobs:
  sync-branches:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: tretuna/sync-branches@1.4.0
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FROM_BRANCH: "master"
          TO_BRANCH: "develop/a"

      - uses: tretuna/sync-branches@1.4.0
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FROM_BRANCH: "master"
          TO_BRANCH: "develop/b"
